body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.contact-info {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(244, 182, 193, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #343a40;
}

p {
  line-height: 1.5;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.container {
  background-image: url(./img/ikun6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
}
